header {
  background: #3f51b5;
  padding: 1em 0;
  width: 100%;
  position: fixed;
  z-index: 3;
}
header a {
  color: white;
  text-decoration: none;
  padding: 1em;
}
.logo {
  margin-left: 10px;
  color: white;
}
header nav {
  float: right;
}
header nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
}

li a:hover {
  background: #6172d8;
}
.container {
  position: relative;
  top: 80px;
}
