form {
  width: 350px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #e8f0fe;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h3 {
  color: #6172d8;
  width: fit-content;
  margin: 0 auto;
}
